.container{
	max-width:1170px;
	width:100%;
	margin:0 auto;
}
.flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.navigation-ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.navigation-li{
	margin-left:45px;
}
.navigation-a{
	font-size: 14px;
	color:#868686;
	font-family: 'Roboto', sans-serif;
}
.navigation-a:hover{
    font-size: 20px;
}
.social-li{
	font-size: 25px;
	color:#868686;
}
.header{
	padding:25px 0;
}

.photo{
	position: relative;
	background-image: url(../img/main.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
    width:100%;
    height: 940px;
    
}
.text{
	position: absolute;
     left: 0;
     top: 40%;
     width: 100%;
     text-align: center;
}
.text1{
	font-size: 18px;
	color:#FFFFFF;
	margin-bottom:30px;
	font-family: 'Roboto', sans-serif;
}
.text2{
	font-size: 48px;
	color:#FFFFFF;
	margin-bottom:30px;
	font-family: 'Open Sans', sans-serif;
}
.icons{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	text-align: center;
	margin:125px 0;
}
.title{
	font-size: 18px;
	margin-top: 40px;
	color:#868686;
	margin-bottom: 16px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.title-text{
	font-size: 14px;
	color:#868686;
	text-align: center;
	width: 220px;
	height: 55px;
	font-family: 'Roboto', sans-serif;
}
.active{
	position: absolute;
	max-width:1170px;
	width:100%;
	margin: 70px 130px;
}
.image img{
	height: 250px;
	width: 100%
}
.h2{
	font-size: 24px;
	color: #FFFFFF;
	margin-bottom: 25px;
	font-family: 'Roboto', sans-serif;
}
.input1{
	width: 770px;
	height: 50px;
	margin-right: 20px;
	font-size: 18px;
	color: #FFFFFF;
	padding: 15px 18px;
	background-color: inherit;
}
.input2{
	width: 370px;
	height: 50px;
	background-color: #3EC6FF;
	font-size: 18px;
	color:#FFFFFF;
	padding: 15px 0;
}
.photos{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.photo1{
	background-image: url(../img/photo1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 480px;
}
.photo2{
	background-image: url(../img/photo2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 480px;
}
.photo3{
	background-image: url(../img/photo3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 480px;
}
.photo4{
	background-image: url(../img/photo4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 480px;
}
.section3{
	margin-bottom: 110px;
}
.section5{
	margin-top: 140px;
	margin-bottom: 170px;
}
.team{
	text-align: center;
	margin-bottom: 130px;
}
.title5{
	font-size: 36px;
	color: #868686;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}
.text5{
	font-size: 24px;
	color: #868686;
}
.team-members{
	margin-right: 30px;
}
.name{
	font-size: 24px;
	text-align: center;
	margin-bottom: 10px;
	color: #868686;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;  
}
.designer{
	font-size: 18px;
	text-align: center;
	color: #868686;
	font-family: 'Roboto', sans-serif;
}
.social-icons{
	font-size: 30px;
	text-align: center;
	margin-right: 30px;
	color: #3EC6FF;
}
.fa-facebook-f{
	margin-left: 55px;
	margin-top: 10px;
}
.background-photo{
	background-image: url(../img/Untitled.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 630px;}
.section6{
	margin-bottom: 50px;
}
.fb{
	text-align: center;
}
.facebook{
	margin-top: 190px;
	margin-bottom: 40px;
}
.fb-text{
	font-size: 24px;
	color:#FFFFFF;
	font-family: 'Roboto', sans-serif; 
}
.fb-text1{
	font-size: 18px;
	color:#FFFFFF;
	margin-top: 40px;
	margin-bottom: 100px;
	font-family: 'Roboto', sans-serif;
}
.circle{
	font-size: 50px;
	color: #FFFFFF;
}
.section7{
	margin-bottom: 55px;
}
.basic{
	text-align: center;
	margin-right: 90px;
}
.title-basic{
	font-size: 36px;
	color: #868686;
	margin-bottom: 20px;
}
.text-basic{
	font-size: 24px;
	color: #868686;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
}
.input3{
    width: 250px;
    height: 50px;
    color: #FFFFFF;
    text-align: center;
    background-color: #3EC6FF;
    font-size: 18px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}
.price{
	font-size: 24px;
	color: #868686;
	margin-bottom: 40px;
	font-family: 'Roboto', sans-serif;
}
.standard:hover{
	width: 370px;
	height:210px;
	background-color: #3EC6FF;
}
.standard:hover .input3{
    background-color: #FFFFFF;
    color: #868686;
}
.standard:hover .title-basic{
	color: #FFFFFF;
}
.standard:hover .price{
	color: #FFFFFF;
}
.map{
    width: 100%
}
.box{
	position: relative;
	background-color: #868686;
    width: 830px;
    height: 650px;
    text-align: center;
    padding-top: 40px;
    margin-left: 22%;
    bottom: 700px;
}
.last-bg{
	height: 730px;
}
.contact{
	font-size:36px;
	color:#FFFFFF;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}
.contact-text{
	font-size: 18px;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
}
.last-child{
	margin-bottom: 25px;
}
.input{
	padding: 17px;
	width: 570px;
	height: 60px;
	color: #868686;
	font-size: 18px;
	margin-bottom: 20px;
}
.last{
	height: 114px;
}
.send{
	width: 570px;
	height: 50px;
	background-color: #3EC6FF;
	border: none;
	font-size: 18px;
	color: #FFFFFF;
}
.footer{
	text-align: center;
	padding: 35px 0;
}
.fotter-text{
	font-size: 14px;
	color: #868686;
	font-family: 'Roboto', sans-serif;
}
.web{
	color: #3EC6FF;
	font-family: 'Roboto', sans-serif;
}
@media (max-width: 768px) {
	.navigation-a{
		display: none;
	}
    .icons{
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .team-bg{
    	display:-webkit-box;
    	display:-ms-flexbox;
    	display:flex; 
    	-ms-flex-wrap:wrap; 
    	    flex-wrap:wrap;
    }
    .first{
        margin-left: 40px;
    }
    .third{
    	margin-left: 40px;
    	margin-top: 20px;
    }
    .fourth{
    	margin-top: 20px;
    }
    .logo{
    	width: 200px;
    	margin-left: 40px;
    }
    .social-li{
        margin-right: 40px;
    }
    .input1{
    	width:600px;
    }
    .input2{
    	width:600px;
    	margin-top: 10px;
    }
    .section7{
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-ms-flex-wrap: wrap;
    	    flex-wrap: wrap;
    }
    .PROFESSIONAL{
    	margin-left: 30%;
    	margin-top: 20px;
    }
    .box{
    	width:500px;
    	margin-left: 50px;
    }
    .input{
    	width: 300px;
    }
    .send{
    	width: 300px;
    }
}
@media (max-width: 600px){
	.service1{
		margin-left: 40px;
	}
	.service3{
		margin-left: 40px;
		margin-top: 20px;
	}
	.service4{
		margin-top: 20px;
	}
	.image{
		height: 230px;
	}
	.h2{
		margin-left: -40px;
	}
	.input1{
		margin-left: -40px;
		width: 400px;
	}
	.input2{
		margin-left: -40px;
		width: 400px;
	}
	.photos{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	    margin-left: 40px;
	}
	.team-members{
		margin-left: 30%;
	}
	.second{
		margin-top: 20px;
	}
	.basic{
		margin-left: 30%;
	}
}
@media (max-width: 480px){
	.logo{
		width: 150px;
		margin-left: 10px;
	}
	.service1{
        margin-left: 25%;
	}
	.service2{
       margin-left: 25%;
	}
	.service3{
        margin-left: 25%;
	}
	.service4{
		margin-left: 25%;
	}
	.h2{
		font-size: 18px;
		margin-left: -90px;
	}
	.input1{
		margin-left: -90px;
		width: 300px;
	}
	.input2{
		margin-left: -90px;
		width: 300px;
	}
	.photos{
		margin-left: 0px;
	}
	.team-members{
		margin-left: 20%;
	}
	.circle{
		display: none;
	}
	.basic{
		margin-left: 20%;
	}
	.box{
		width: 300px;
		margin-left: 30px;
	}
	.contact{
		font-size: 30px;
		margin-top: 10px;
	}
	.contact-text{
		font-size: 12px;
	}
	.input{
        width: 200px;
	}
	.send{
		width: 200px;
	}
}